<article>
  <img itemprop="logo" src="images/logo.png" alt="Patrish Nails Logo" width="400" height="200" style="margin:auto;display:block;" id="patrish_logo"/>
  <div style="max-width:60%;margin:auto;display:block;margin-top:50px;" align="center">
    <p>Patrish Nails is a small business situated in Johanessburg. Our little business has been operating since 2008 - driven by passion and love.</br>
    We are mobile and our services can be rendered at the clients home, office or at our store in Illovo, Sandton.<br/>
    Patrish Mobile Nails only covers certain areas of Johannesburg at this stage, please <a href="#!/contact">contact us</a> for more information.<br/>
    Thank you.</p>
  </div>
  <!--business hours-->
  <h3 id="bus_hrs" align="center">Business Hours</h3>
  <table border="2px" align="center" width="auto" style="margin-bottom:20px">
  <tr>
  	<th>Day</th>
  	<th>Time</th>
  </tr>
  <tr>
  	<td><meta itemprop="openingHours" content="Tu-Su 09:00-21:00">Tuedays - Sundays</td>
  	<td>09:00 - 21:00</td>
  </tr>
  </table>
  <h3 style="text-align:center;margin-top:50px;">Our general day-to-day schedule.</h3>
  <table border="2px" align="center" width="auto" style="margin-bottom:20px">
  <tr>
  	 <th>Location</th>
  	 <th>Day</th>
  </tr>
  <tr>
  	 <td>Auckland Park & Parktown Area</td>
  	 <td>Tuesday</td>
  </tr>
  <tr>
  	 <td>Fourways & North Riding Area</td>
  	 <td>Wednesday</td>
  </tr>
  <tr>
  	 <td>Roodepoort & Weltevredenpark Area</td>
  	 <td>Thursday</td>
  </tr>
  <tr>
  	 <td>Sandton & Blairgowrie Area</td>
  	 <td>Friday</td>
  </tr>
  <tr>
  	 <td>Ruimsig Area</td>
  	 <td>Saturday</td>
  </tr>
  <tr>
  	 <td>Midrand & Monte Casino Area</td>
  	 <td>Sunday</td>
  </tr>
  </table>

  <div class="cont-50" id="terms" style="margin-top:50px;">
    <h3 style="text-align:center;">Terms &amp; Conditions</h3>
    <ul style="text-align:left;">
      <li>R100 off is rewarded on his/her birthday after being a regular for a year or longer.</li>
      <li>One gets a free set after referring 3 or more clients.</li>
      <li>20% cancellation applies if less than 12hrs prior to the appointment.</li>
      <li>No appointment will be attended without confirmation.</li>
      <li>The minimum amount we travel for is R200.</li>
      <li>AA rates apply on milage beyond our 20km radius</li>
    </ul>
    <h5 style="text-align:center;"><i>By using our website you agree to the aforementioned terms and conditions.</i></h5>
  </div>
  <div style="display:none">
    <p itemprop="priceRange">Pricerange: ZAR 70 - ZAR 270</p>
    <p itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">Latitude: -26.121226417329222 deg<br/> Longitude: 27.931537628173828 deg
    <meta itemprop="latitude" content="40.75"/>
    <meta itemprop="longitude" content="73.98"/></p>
  </div>
  <br/>
</article>
