<article>
  <img itemprop="logo" src="images/logo_icon_multishade.png" alt="Patrish Nails Logo" width="200" height="200" style="margin:auto;display:block;" id="patrish_logo"/>
  <p style="text-align:center;">
	     You can contact us on one of the following contact details<br/><br/>
        Telephone:<font color="#E62EB8" itemprop="email">011 475 0770</font><br/>
        Personal email: <font color="#E62EB8" itemprop="email">patricia@patrishnails.co.za</font><br/>
				Support email: <font color="#E62EB8" itemprop="email">support@patrishnails.co.za</font><br/>
        Phone or WhatsApp: <font color="#E62EB8">072 804 4244</font><br/>
        Mail:<font itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" color="#E62EB8"><span itemprop="addressLocality">PO Box 918, Cresta, 2118, </span><span itemprop="addressRegion">Johannesburg</span></font><br/>

        <h3 style="text-align:center;">Please leave us a comment about your experience with our services.</h3>
        <form class="form" style="margin-top:25px;margin-left:auto;margin-right:auto;">
          <div class="form-group">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin:auto;">
                <div class="form_control_container">
                  <!--<div class="input-group ig ig-80">
                        <span class="form-text input-group-addon ft-30" id="span_title">eMail or username</span>
                        <input type="text" placeholder="Your guardian/spouse's name and surname." aria-describedby="title" name="title" class="form-control fc-40" id="title"/>
		              </div>-->
                  <div class="input-group ig ig-80">
		                   <span class="form-text input-group-addon ft-30" style="margin:auto;" id="span_title">Message</span>
                       <textarea class="form-control fc-70" aria-describedby="message" style="margin:auto;"></textarea>
				          </div>
              </div>
            </div>
          </div>
          <div style="width:150px;margin:auto;margin-top:30px;">
            <button type="button" class="btn btn-success" style="width:150px;height:50px;margin:auto;">Send</button>
          </div>
        </div>
      </form>
       <br/>
       <p style="text-align:center;">You can also find us on Facebook(Patrish Mobile Nails or Patrish Nails), Twitter(@patrish76) or Instagram at Patrish Mobile Nails.<br/>Thank you.</p>
		</p>
</article>
