<script>
  $('#navbar li').removeClass('active');
  $('#home').addClass('active');
</script>

<div id="pmn_carousel" class="carousel slide" data-ride="carousel" style="margin-top:-20px;">
  <!-- slide indicators -->
  <ol class="carousel-indicators">
    <li data-target="pmn_carousel" data-slide-to="1" class="active"></li>

    <li data-target="pmn_carousel" data-slide-to="2"></li>
    <li data-target="pmn_carousel" data-slide-to="3"></li>
    <li data-target="pmn_carousel" data-slide-to="4"></li>
    <li data-target="pmn_carousel" data-slide-to="5"></li>
    <li data-target="pmn_carousel" data-slide-to="6"></li>
    <li data-target="pmn_carousel" data-slide-to="7"></li>
    <li data-target="pmn_carousel" data-slide-to="8"></li>
    <li data-target="pmn_carousel" data-slide-to="9"></li>
    <li data-target="pmn_carousel" data-slide-to="10"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="slide-1" src="./images/slider/1.png" alt="First slide">
      <div class="container">
        <div class="carousel-caption">Slide 1 caption</div>
      </div>
    </div>

    <div class="item">
      <img class="slide-2" src="./images/slider/2.png" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">Slide 2 caption</div>
      </div>
    </div>

    <div class="item">
      <img src="./images/slider/3.png" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">Slide 3 caption</div>
      </div>
    </div>

    <div class="item">
      <img src="./images/slider/4.png" alt="Fourth slide">
      <div class="container">
        <div class="carousel-caption">Slide 4 caption</div>
      </div>
    </div>

    <div class="item">
      <img src="./images/slider/5.png" alt="Fifth slide">
      <div class="container">
        <div class="carousel-caption">Slide 5 caption</div>
      </div>
    </div>

    <div class="item">
      <img src="./images/slider/6.png" alt="Sixth slide">
      <div class="container">
        <div class="carousel-caption">Slide 6 caption</div>
      </div>
    </div>

    <div class="item">
      <img src="./images/slider/7.png" alt="Seventh slide">
      <div class="container">
        <div class="carousel-caption">Slide 7 caption</div>
      </div>
    </div>

    <div class="item">
      <img src="./images/slider/8.png" alt="Eighth slide">
      <div class="container">
        <div class="carousel-caption">Slide 8 caption</div>
      </div>
    </div>

    <div class="item">
      <img src="./images/slider/9.png" alt="Nineth slide">
      <div class="container">
        <div class="carousel-caption">Slide 9 caption</div>
      </div>
    </div>

    <div class="item">
      <img src="./images/slider/10.png" alt="Tenth slide">
      <div class="container">
        <div class="carousel-caption">Slide 10 caption</div>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#!/#pmn_carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#!/#pmn_carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> <!-- carousel -->
<div id="home_content">
    <h2 style="text-align:center">Welcome</h2>
    <div class="row" style="margin:25px;">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div style="width:140px;height:140px;margin:auto;background-color:rgba(233, 65, 132, 1.0);border-radius:100px;border:1px solid #fff;">
          <img class="img-circle" src="./images/spoil.png" style="margin-top:10px;display:block;margin:auto;" alt="Logo">
        </div>
        <h3 style="text-align:center">Spoil yourself</h3>
        <p style="text-align:center">Treat yourself to a well deserved nail makeover this summer!</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img class="img-circle" src="./images/palette.png" style="width:140px;height:140px;display:block;margin:auto;background-color:rgba(233, 65, 132, 1.0);padding:5px;border:1px solid #fff;" alt="Logo">
        <h3 style="text-align:center">Style your nails</h3>
        <p style="text-align:center">Choose from our wide range of nail services and products.</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img class="img-circle" src="./images/flexibility.png" style="width:140px;height:140px;display:block;margin:auto;background-color:rgba(233, 65, 132, 1.0);padding:5px;border:1px solid #fff;" alt="Logo">
        <h3 style="text-align:center">We are flexible</h3>
        <p style="text-align:center">We understand that you have a busy life so we will drive to your home, office or any other place of your choosing as long as it is within our coverage area.<br/><a href="/about#tc">Terms & Conditions</a> apply.</p>
      </div>
    </div>

    <div class="center-block alert" style="width:60%;margin-left:auto;margin-right:auto;text-align:center;padding:5px;border-radius:5px;background-color:rgba(5, 181, 227, 0.4);color:#000;" role="alert">
      <h3 style="margin-top:20px;">Notifications</h3>
      <p style="margin-left:10%;margin-right:10%;">
        Please note that currently, we will only be available in some areas on certain days. Refer to
        <a style="color:#E61669;text-decoration:none;" href="/bookings"><strong>Bookings.</strong></a>
        However, you are more than welcome to come to our shop {INSERT ADDRESS HERE} anytime.
      </p>
      <br/>
    </div>

    <div class="center-block alert" style="width:60%;margin-left:auto;margin-right:auto;text-align:center;border-radius:5px;background-color:rgba(5, 181, 227, 0.4);color:#000;">
      <h2 style="font-size:24px;margin-top:30px;">Trending products</h2>
      <p>Will go here</p>
    </div>

    <button class="btn btn-primary" style="width:200px;height:50px;display:block;margin:auto;margin-top:20px;background-color: rgba(233, 65, 132, 1.0);border:none;">
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
      Book now!
    </button>
  </div>
