<article>
			<!--<object data="./images/PMN Pricelist.pdf" type="application/pdf" width="900" height="800" style="display:block;margin:auto;">
				Alt: <a href="./images/PMN Pricelist.pdf">Price List</a>
				<param name="view" value="Fit">
			</object>-->
			<img src="./images/pricelist.jpg" width="800" height="1100" style="display:block;margin:auto;border:1px solid #E61669" />

			<div style="width:100%;height:2px;background:#1975D1;">
          <div style="width:30%; height:2px; background:#E61669; float:right;"></div>
      </div>
</article>
